<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head') %>

<body>
	<% if (user) { %>
           <%- include('./partials/headerLogueado'); %>
        <% } else { %>
           <%- include('./partials/header'); %>
        <% } %>

	<!-- Novedades -->
	<main class="container">
        <h1>¡Hola, <%= user.nombre %>!</h1>
        <section class="profile">
        <h2>Información de tu cuenta</h2>
        <ul>
                <li><strong>Nombre:</strong> <%= user.nombre %></li>
                <li><strong>Email:</strong> <%= user.email %></li>
        </ul>
        </section>

        <form class="logout" action="/users/logout" method="post">
                <button class="logout" type="submit">
                    Cerrar sesión <i class="fas fa-sign-in-alt"></i>
                </button>
        </form>
  </main>
<!-- footer -->
<%- include('./partials/footer') %>
<!-- /footer -->
</body>

</html>